<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a78d2f1f9e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="cssmen/men.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gilda+Display&family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="https://play-lh.googleusercontent.com/3BSlWKyp048lqNwkiUC6OsaiDobtP8FH1bGr2GUP7-8HKI9o4Avrwk8LWvOVqGjedpjp">
    <title>T-Store | Men</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".club-submit").click(function() {
                $(".club").hide();
            });
        });
    </script>
</head>

<body>
<div id="preloader">
</div>
<div class="newcol container-fluid" style="padding-left: 0; padding-right: 0">
    <div class="container-fluid" style="height: 800px; background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30));">
        <nav class="navbar navbar-expand-lg navbar-light mb-3 xxx">
            <a class="navbar-brand mb-0 h1" href="index" style="font-size: 30px; color: #ffffff; font-family: 'Montserrat', sans-serif;">T-Store</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="collection" style="font-size: 20px; color: #ffffff;">Collection </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false" style="font-size: 20px; color: #ffffff;">
                            Men
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">T-Shirts</a>
                            <a class="dropdown-item" href="#">Hoodies</a>
                            <a class="dropdown-item" href="#">Sneakers</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="women" style="font-size: 20px; color: #ffffff;">Women</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" style="font-size: 20px; color: #ffffff;">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" style="font-size: 20px; color: #ffffff;">Faq</a>
                    </li>
                </ul>
                <div class="nav__cart">
                    <a href="#" class="nav__cart-link">
                        <span class="nav__cart-number" id="cart_counter">3</span>
                        <img src="https://static.tildacdn.com/tild3437-3762-4239-a165-373062316239/CART_WHITE.svg" width="30px" height="25px" alt="Cart">
                    </a>
                </div>
            </div>
        </nav>
        <div class="newcol_text container-fluid">
            <div class="">
                <h1 id="animation" class="" style="font-size:3vw; color: #ffffff; font-family: 'Montserrat',Arial,sans-serif;">NEW<br /> COLLECTION</h1>
                <div style="color: #ffffff; font-size: 20px; margin-top: 20px; font-family: 'Montserrat',Arial,sans-serif;">
                    Discover the new collection for men.
                </div>
            </div>
            <br>
            <div class="">
                <a href="#" class="btn-light btnn" style="font-size:2vw; margin-right: 3em;">SHOP</a>
            </div>
        </div>
    </div>
</div>

<div class="sections container-fluid">
    <div class="row">
        <a href="#" class="col col-lg-6 col-md-6 col-sm-12"  style="text-decoration: none!important;">
            <div class="a-first">
                <img class="a-first_img" src="./cssmen/t-shirt-alibekov.png" />
                <div class="a-first_txt">
                    <h2>T-SHIRTS</h2>
                </div>
            </div>
        </a>

        <a href="#" class="col-lg-6 col-md-6 col-sm-12"  style="text-decoration: none!important;">
            <div class="a-second">
                <img class="a-second_img" src="https://thumb.tildacdn.com/tild3030-3035-4333-b033-656164306430/-/resize/290x/-/format/webp/hoodie_png.png" />
                <div class="a-second_txt">
                    <h2>HOODIES</h2>
                </div>
            </div>
        </a>

    </div>
    <div class="row">
        <a href="#" class="col-lg-6 col-md-6 col-sm-12"  style="text-decoration: none!important;">
            <div class="a-third">
                <img class="a-third_img" src="https://thumb.tildacdn.com/tild3835-6138-4561-a531-366338356562/-/format/webp/Box_BG.png" />
                <div class="a-third_txt">
                    <h2>GIFT BOXES</h2>
                </div>
            </div>
        </a>

        <a href="#" class="col-lg-6 col-md-6 col-sm-12"  style="text-decoration: none!important;">
            <div class="a-fourth">
                <img class="a-fourth_img" src="https://thumb.tildacdn.com/tild6566-3931-4235-b263-396531633134/-/resize/260x/-/format/webp/phoneCase.png" />
                <div class="a-fourth_txt">
                    <h2>ACCESSORIES</h2>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="container">
    <div class="">
        <h1 style="margin-top: 1em; text-align: center;">TOP PICKS FOR YOU</h1>
    </div>
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" style=" height: 400px; width: 400px; margin-bottom: 15em; margin-left: auto;
    margin-right: auto; ">
        <ol class="carousel-indicators" style="position: absolute; top: 520px;">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" style="">
            <div class="carousel-item active align-items-center" style="">
                <img src="https://d2j6dbq0eux0bg.cloudfront.net/images/20896022/2752092940.jpg" class="d-block w-100" alt="..." style="margin: 0px auto;">
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="color: white;">T-Shirt HOMMES Camouflage</h5>
                    <a href="#">
                        <p class="btn btn-light" id="cart" onclick="cartIncrement()" style="background-color: #e7e7e7; border-color: #e7e7e7;">25000 T</p>
                    </a>
                </div>
            </div>
            <div class="carousel-item align-items-center">
                <img src="https://d2j6dbq0eux0bg.cloudfront.net/images/20896022/2752099151.jpg" class="d-block w-100" alt="..." style="margin: 0px auto;">
                <div class="carousel-caption d-none d-md-block">
                    <h5>T-Shirt A7:27 White</h5>
                    <a href="#">
                        <p class="btn btn-light" id="cart" onclick="cartIncrement()" style="background-color: #e7e7e7; border-color: #e7e7e7;">20000 T</p>
                    </a>
                </div>
            </div>
            <div class="carousel-item align-items-center">
                <a href="#"><img src="https://d2j6dbq0eux0bg.cloudfront.net/images/20896022/2680883895.jpg" class="d-block w-100" alt="..." style="margin: 0px auto;"></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Sweatshirt HOMMES Black</h5>
                    <a href="#">
                        <p class="btn btn-light" id="cart" onclick="cartIncrement()" style="background-color: #e7e7e7; border-color: #e7e7e7;">45000 T</p>
                    </a>
                </div>
            </div>
            <div class="carousel-item align-items-center ">
                <a href="#"><img src="https://d2j6dbq0eux0bg.cloudfront.net/images/20896022/2622924299.jpg" class="d-block w-100" alt="..." style="margin: 0px auto;"></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Hoodie ALV Black</h5>
                    <a href="#">
                        <p class="btn btn-light" id="cart" onclick="cartIncrement()" style="background-color: #e7e7e7; border-color: #e7e7e7;">25000 T</p>
                    </a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev" style="">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next" style="">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </button>
    </div>
</div>
<form action="#" style="  background-color: #85540a;">
    <div class="club container">
        <div class="club-txt col-lg-6 col-md-12 col-sm-12">
            <h2>JOIN OUR CREATORS CLUB &</h2>
            <h2>GET 15% OFF</h2>
        </div>
        <div class="club-data col-lg-6 col-md-12 col-sm-12">
            <div>
                <input type="text" placeholder="Name" name="name" required>
                <input id="ww" type="text" placeholder="Email address" name="mail" required>
            </div>

            <div class="club-submit">
                <input id="myBtn" type="submit" value="Join">
            </div>
        </div>
    </div>
</form>
<button onclick="topFunction()" id="toTop" title="Go to top">Top</button>

<div class="container-fluid bg-light w-100 mt-5" style="text-align: center;">
    <footer class="py-5">
        <div class="row">
            <div class="col-lg-2 col-md-6 col-sm-12">
                <h5 style="color: #85540a"> <strong> About Us</strong></h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2 col-l-12 col-m-12 col-s-12"><a href="#" class="nav-link p-0 text-muted"> Location: Kabanbai Batyr 60a/13</a></li>
                    <li class="nav-item mb-2 col-l-12 col-m-12 col-s-12"><a href="#" id="mouseover-txt" class="nav-link p-0 text-muted">Phone: 8777 777 77 77 </a></li>
                    <li class="nav-item mb-2 col-l-12 col-m-12 col-s-12"><a href="#" class="nav-link p-0 text-muted"> Email: @nurkanat.03wf@mail.ru</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-12">
                <h5 style="color: #85540a" id="animation" onclick="rotate()"> <strong> Shop</strong> </h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sell online</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Examples</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Website editors </a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Online retail</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-12">
                <h5 style="color: #85540a"> <strong> Main</strong></h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Events</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">News</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Awards</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-7 col-sm-12">
                <form>
                    <h5> <strong> Subscribe to our newsletter</strong></h5>
                    <p>Monthly digest of whats new and exciting from us.</p>
                    <div class="d-flex w-100 gap-2">
                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                        <button id="test" class="btn btn-dark" type="button" style="background-color: #85540a; ">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex justify-content-between py-4 border-top" style="height: 1px;">
            <p>© 2022 T-Store Inc. All rights reserved.</p>
        </div>
    </footer>
</div>

<script src="men.js"></script>

</body>
